In [1]:
import pandas as pd

In [6]:
user_features = pd.read_csv("../dataset/user_features.csv")
user_features

,Unnamed: 0,site_idx,address,tourist_type,like_type,targets,price_sensitive,attention,label
0,0,1,31,5,"[4, 6]","[1, 8, 3]",0,"[3, 0, 2, 7]",1
1,1,1,3,5,"[4, 6]","[1, 8]",1,"[5, 7]",1
2,2,1,6,3,[4],"[1, 2, 6]",1,"[5, 3]",1
3,3,1,28,4,[4],"[1, 2, 5]",1,"[7, 5]",1
4,4,1,29,3,[4],"[1, 2]",1,[4],1
...,...,...,...,...,...,...,...,...,...
55851,55851,1000,9,3,[1],[7],1,"[0, 6]",0
55852,55852,1000,9,3,[1],[7],0,[2],0
55853,55853,1000,9,5,[1],[7],0,"[0, 3]",0
55854,55854,1000,15,3,[1],[7],0,"[1, 2]",0
55855,55855,1000,9,3,[1],[7],0,"[1, 2]",0

In [7]:
site_idx_features = user_featus["site_idx"].copy()
site_idx_features[site_idx_features.isna()].index

Index([], dtype='int64')

In [8]:
address_features = user_featus['address'].copy()
address_features[address_features.isna()].index

Index([], dtype='int64')

In [10]:
tourist_type_features = user_features['tourist_type'].copy()
tourist_type_features[tourist_type_features.isna()].index

Index([], dtype='int64')

In [11]:
like_type_features = user_features["like_type"].copy()
like_type_features[like_type_features.isna()].copy()

Series([], Name: like_type, dtype: object)

In [12]:
targets_features = user_features["targets"].copy()
targets_features[targets_features.isna()].index

Index([], dtype='int64')

In [14]:
positive_sensitive_features = user_features["price_sensitive"].copy()
positive_sensitive_features[positive_sensitive_features.isna()].index

Index([], dtype='int64')

In [15]:
attention_features = user_features["attention"].copy()
attention_features[attention_features.isna()].index

Index([], dtype='int64')

In [16]:
label_features = user_features["label"].copy()
label_features[label_features.isna()].index

Index([], dtype='int64')

In [17]:
site_features = pd.read_pickle("../dataset/site_features.pkl")
site_features

,site_idx,score,hot_degree,address,introduce_embed,price,positive_comment_rate
0,1,0.96,1.00,29,"[-0.037725143134593964, -0.12439101189374924, ...",0.000000,0.982445
1,2,0.94,1.00,29,"[-0.038046449422836304, -0.18526966869831085, ...",0.039503,0.971700
2,3,0.96,1.00,31,"[0.03834586590528488, -0.056213535368442535, 0...",0.000000,0.994827
3,4,0.94,1.00,20,"[0.009396699257194996, -0.23967264592647552, 0...",0.135440,0.957264
4,5,0.94,1.00,33,"[-0.046439655125141144, -0.17700868844985962, ...",0.603837,0.973052
...,...,...,...,...,...,...,...
995,996,0.86,0.68,7,"[-0.09245417267084122, -0.0648542121052742, 0....",0.056433,0.917892
996,997,0.92,0.68,6,"[0.023274630308151245, -0.08117324113845825, 0...",0.178330,0.976170
997,998,0.88,0.68,2,"[-0.045759472995996475, -0.16594219207763672, ...",0.000000,0.912214
998,999,0.92,0.68,6,"[0.06767657399177551, -0.07898690551519394, 0....",0.428894,0.971014
999,1000,0.84,0.68,9,"[-0.08188911527395248, -0.0823860764503479, 0....",0.000000,0.878632

In [18]:
site_idx_features = site_features["site_idx"].copy()
site_idx_features[site_idx_features.isna()].index

Index([], dtype='int64')

In [19]:
score_features = site_features["score"].copy()
score_features[score_features.isna()].copy()

Series([], Name: score, dtype: float64)

In [20]:
hot_degree_features = site_features["hot_degree"].copy()
hot_degree_features[hot_degree_features.isna()].copy()

Series([], Name: hot_degree, dtype: float64)

In [21]:
address_features = site_features["address"].copy()
address_features[address_features.isna()].index

Index([], dtype='int64')

In [22]:
introduce_features = site_features["introduce_embed"].copy()
introduce_features[introduce_features.isna()].index

Index([], dtype='int64')

In [23]:
price_features = site_features["price"].copy()
price_features[price_features.isna()].index

Index([], dtype='int64')

In [24]:
positive_comment_rate = site_features["positive_comment_rate"].copy()
positive_comment_rate[positive_comment_rate.isna()].index

Index([102, 132, 195, 198, 220, 238, 268, 287, 295, 299, 306, 319, 333, 365,
       384, 441, 445, 446, 460, 468, 479, 484, 490, 498, 509, 552, 579, 582,
       591, 606, 613, 622, 627, 635, 643, 667, 672, 687, 710, 730, 744, 750,
       756, 779, 799, 801, 811, 815, 825, 831, 849, 872, 879, 894, 900, 914,
       915, 925, 933, 943, 953, 967, 977, 988, 991],
      dtype='int64')

In [25]:
positive_comment_rate[102]

np.float64(nan)

In [26]:
positive_comment = pd.read_csv('../dataset/tb_positive_comment_extra2.csv')
positive_comment

,id,site_idx,content,tourist_type,ip
0,1,1,我会再推荐大家去故宫博物院的，因为我因为武英殿的瓷器展时间过于长了，没赶上故宫的下午茶，下次...,朋友出游,上海
1,2,1,陶瓷馆\n一上来就选择游中轴线的游客永远不会到达的一个地方，位于故宫午门进入后西侧的武英殿。...,朋友出游,辽宁
2,3,1,故宫，一眼千年的历史回响\n\n踏入故宫的那一刻，时间仿若倒流，历史的厚重感扑面而来。这座屹...,家庭亲子,江苏
3,4,1,踏入北京故宫，仿若步入历史长河、巍峨宫殿气势恢宏，一砖一瓦皆是岁月沉淀。中轴线上，太和殿庄严...,情侣夫妻,新疆
4,5,1,故宫博物院作为古代皇宫在世界上是独一无二的。它不同于法爱丽舍宫及俄克林姆林宫，它是以木构为主...,家庭亲子,北京
...,...,...,...,...,...
95155,95156,1000,去厦门出差，住在了双子塔这里的酒店，这里是两栋300米高的摩天大楼以及裙楼组成，是厦门第二高...,NaN,广东
95156,95157,1000,双子塔虽然没有上去，但是在里面吃了铁板海鲜买了水果跟零食！发现一个可以看海景吃饭的地方！夜景...,NaN,NaN
95157,95158,1000,厦门双子塔作为当地的著名地标建筑，沿着环岛路的海滨步道一路走，都可以远远望见这两座建筑物。双...,NaN,NaN
95158,95159,1000,双子塔作为厦门市的地标建筑，是来自各地的游客不可避免也难以错过的一个景点。观看双子塔，有两个...,NaN,NaN
95159,95160,1000,两座塔组成的双子塔，可以上最上面观景台看厦门的景色,NaN,云南

In [27]:
negative_comment = pd.read_csv('../dataset/tb_negative_comment_extra.csv')

In [28]:
negative_comment

,id,site_idx,content,tourist_type,ip
0,1,1,"根据票据,我们没有去博物馆,博物馆说钱还回去",家庭亲子,未知
1,2,1,"当我的身份证被拒绝时,在入口门口有头发提升的经验。博物馆工作人员说我的票被退款了。此外,包括...",家庭亲子,未知
2,3,1,头一天打电话说铛铛车没组成团，说后面联系退钱，早上自己去国博无导游无接送，下午有导游说一点午...,情侣夫妻,北京
3,4,1,"这是我第一次去中国的地方,禁城根本没有印象,一切都一样,几分钟后,兴趣完全消失了",单独旅行,未知
4,5,1,不愿置评！,朋友出游,未知
...,...,...,...,...,...
40927,40928,1000,买好票以后发的短信没有二维码 写着需要取票 去窗口排队了半天以后说现在非游玩项目都不需要取票...,家庭亲子,上海
40928,40929,1000,千万别去这里,单独旅行,福建
40929,40930,1000,千万别上去,其他出游,福建
40930,40931,1000,最坑人的一个景点，也不知道这些想赚钱的人是怎么想的！！！门票180元到58层给你一个不足10...,NaN,福建
40931,40932,1000,现场没有卖学生票，只有在携程上购买。上观光塔前有几个像打暑期工的人拉住我们说，免费拍摄，包含...,家庭亲子,广东

In [34]:
positive_comment[positive_comment['site_idx'] == 102]

,id,site_idx,content,tourist_type,ip
10100,10101,102,钟鼓索道位于国家5A级风景名胜区——万石植物园的西侧，全长1000多米，全程约40分钟，离地...,情侣夫妻,福建
10101,10102,102,提前上网搜了一下，感觉褒贬不一，但是真的去了以后超级推荐啊，半边城市半边大海，微风不燥，春暖...,家庭亲子,天津
10102,10103,102,缆车80元，最好网上提前点买，特别是要拍落日余晖的小伙伴可以在网上提前预约，因为很多游客都是...,朋友出游,上海
10103,10104,102,索道没有单程，只有往返全程，40分钟。起点在厦门森林公园西门，半程终点大概快到南普陀寺的五老...,陪同父母,福建
10104,10105,102,厦门钟鼓索道在厦门植物园西侧，全长1千多米。只有往返票(80元)，中途不能下缆车，原路返回。...,情侣夫妻,天津
...,...,...,...,...,...
10195,10196,102,能俯瞰部分福建城市景观，尤其是能看到双子塔。建议第一站去钟鼓索道，因为人少天凉快，要是过了上...,家庭亲子,吉林
10196,10197,102,从植物园西门出来后，左手边有个类似岗亭位置的走上去就是了 ，建议可以此处安排明显标识标牌！\...,单独旅行,NaN
10197,10198,102,2019 热爱生活 \n️各种节日快乐️\n快乐的人儿，每天都是节日‍♀️\n&amp;#...,NaN,NaN
10198,10199,102,果然4点~5点的是最紧俏的，但是景色也非常值得。走到2楼换了票就可以准备排队啦，大家最好在想...,朋友出游,北京
10199,10200,102,为了到这个索道走的累死，从中山路步行街走到索道至少半小时多，但是这个索道真心要做，他是镂空的...,情侣夫妻,上海

In [35]:
negative_comment[negative_comment['site_idx'] == 102]

,id,site_idx,content,tourist_type,ip
5050,5051,102,一、建议携程对供应商的服务质量严格加强平台方监管。二、建议加强索道售票处人员培训管理，尤其是...,其他出游,福建
5051,5052,102,体验感极差,朋友出游,海南
5052,5053,102,别浪费钱 一般般 不如洗脚,朋友出游,上海
5053,5054,102,两个人160元就是拍几张照片，别的啥也没有。\n价值160的照片,情侣夫妻,云南
5054,5055,102,还行 就是体重偏重的只能单人乘坐 两个人不能超350斤 这个缆车还没广东长龙隆动物园的大 ...,其他出游,福建
5055,5056,102,不值得，太危险了,朋友出游,福建
5056,5057,102,没什么意思。,家庭亲子,福建
5057,5058,102,不值得去，没啥景色,情侣夫妻,广东
5058,5059,102,我们9早上最早的票 按时到达之后才通知要临时维修1-2小时 行李也不让提前寄存 没有任何补救...,陪同父母,山西
5059,5060,102,导游比我还来的晚。,家庭亲子,山东
5060,5061,102,很不好，不开心,单独旅行,福建
5061,5062,102,风景是不错！但建议2人同行，9/20当天其实没有太多人去搭乘，我只有一个人，他会说要2人一起...,单独旅行,未知
5062,5063,102,很一般，不太好玩,家庭亲子,上海
5063,5064,102,碰到开后门的旅游团，排队一小时,家庭亲子,浙江
5064,5065,102,没有预约到，到现场可以直接排的。,NaN,福建
5065,5066,102,来厦门最垃圾的体验，通知11点半在厦门大学汇合入校，结果等到1点过说什么系统故障入不了，导游...,家庭亲子,福建
5066,5067,102,门票太贵，收的不合理，厦门大学根本不要钱，导游只给预约了没带我们进厦大，总之320太不划算，贵,家庭亲子,福建
5067,5068,102,很无聊，很热，景色也不好,陪同父母,广东
5068,5069,102,因为临时改变行程，忘了定索道这个事了，后来和索道联系，看能不能退款，回复说不能。\n这一点就...,家庭亲子,黑龙江
5069,5070,102,两大一小孩子7岁，我预定了三张成人票，到了现场量了孩子半价，现场付了40，结果多出一张成人票...,其他出游,福建
5070,5071,102,提前很久在携程下单，时间点到了准时去坐，然后发现排着长队，以为是正常的检票，排了好久的队，一...,家庭亲子,福建
5071,5072,102,没有部分退,朋友出游,福建
5072,5073,102,携程上这个电话是厦门旅游咨询电话。不能直接咨询钟鼓索道的。客服给了一个电话，打了五次都没人接...,情侣夫妻,福建
5073,5074,102,景色还可以，33高温索道排队无防晒，通风拱施，旅游打卡还可以，不会再坐第二次,家庭亲子,福建
5074,5075,102,厦门作为一个旅游城市每天接待这全国以及全球各地的游客。\n老一辈50年代的老同志从外省来厦门...,家庭亲子,福建
5075,5076,102,服务态度极差,陪同父母,安徽
5076,5077,102,避坑吧。一点都不值得去！就围绕着破山坐一圈,情侣夫妻,福建
5077,5078,102,钟鼓索道不值得去，索道到顶是不能下车的原车返回，而且坐在索道上的景点在别的地方都能看，票还死...,情侣夫妻,上海
5078,5079,102,首先，索道全程貌似设计了两个站点，但是人都不能下，只能坐在轿厢里过去又回来，全程30分钟。其...,家庭亲子,福建
5079,5080,102,一个人的话，还要和别人拼，才能乘坐，不拼单就要160元一个人乘坐索道！我和别人拼坐索道的时候...,单独旅行,上海
5080,5081,102,一个字，就是🕳️，就坑,单独旅行,上海
5081,5082,102,垃圾，一个身份证忘了带了，现场要一起退，跟我说不用一起退，现在都退不了。,朋友出游,福建
5082,5083,102,整个厦门旅游服务简直是太差了！,其他出游,福建
5083,5084,102,搞了个预约制，结果到现场买的比预约的还好，套路深，,其他出游,浙江
5084,5085,102,哈哈见过最差的索道，毫无景色可言，缆车也不经过海，下边全是乱糟糟的树木丛林。被骗去的，体验过...,单独旅行,上海
5085,5086,102,一个人不能坐，得包车，给两个人的钱，要不就等拼车。666，80的往返，1300米的索道，牛啊,NaN,福建
5086,5087,102,完完全全就是个垃圾项目，一个来回中途是不能下缆车的，所以回程还要检票的原因是增加一个岗位？所...,朋友出游,重庆
5087,5088,102,整个厦门最无聊的项目，这玩意就不是给两个成年男性设计的，健康的两个成年男性，上去就超重，没办...,朋友出游,辽宁
5088,5089,102,体验感太差了，隧道就是挠一圈回到原地，要风景没风景真的挺无聊的，感觉被骗了。建议大家别上当受骗,朋友出游,福建
5089,5090,102,儿童刚过140cm就全价，太吭人了,NaN,福建
5090,5091,102,极差，游客切勿受*音蛊惑，有功夫植物园溜达溜达勿,家庭亲子,福建
5091,5092,102,景点挺好的\n服务差，\n产品设计有问题,家庭亲子,天津
5092,5093,102,缆车旧，性价比低。,朋友出游,福建
5093,5094,102,体验感真一般，不排队坐一坐，要是要排队，真没必要。景观一般，宣传说有四十分钟，感觉也就二十多...,家庭亲子,江西
5094,5095,102,不要去不要去，很热很晒，不好看，不好玩，排队很久，索道车很挤，没什么风景也就看看海，晒出问题来的会,情侣夫妻,上海
5095,5096,102,垃圾地方，不会排队别排,情侣夫妻,福建
5096,5097,102,和女朋友一起坐的 缆车乘坐途中故障停机了三次 一直在摇晃 没有全封闭的玻璃 得抓紧不然会掉下...,情侣夫妻,福建
5097,5098,102,不让下去拍照，没啥好看的，,单独旅行,福建
5098,5099,102,体验不好 差,陪同父母,福建
5099,5100,102,要是闲的没事也可以玩玩，身高测量尺也不咋准,家庭亲子,福建

In [36]:
comment_feautures = pd.read_csv('../dataset/comment_dataset.csv')

In [37]:
comment_feautures

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,site_idx,ip,tourist_type,likeType,targets,priceSensitive,attention,label
0,0,0,0,1,上海,朋友出游,4|6,1|8|3,0,3|0|2|7,1
1,1,1,1,1,辽宁,朋友出游,4|6,1|8,1,5|7,1
2,2,2,2,1,江苏,家庭亲子,4,1|2|6,1,5|3,1
3,3,3,3,1,新疆,情侣夫妻,4,1|2|5,1,7|5,1
4,4,4,4,1,北京,家庭亲子,4,1|2,1,4,1
...,...,...,...,...,...,...,...,...,...,...,...
55851,55851,55,10,1000,福建,家庭亲子,1,7,1,0|6,0
55852,55852,56,11,1000,福建,家庭亲子,1,7,0,2,0
55853,55853,57,12,1000,福建,朋友出游,1,7,0,0|3,0
55854,55854,58,13,1000,广东,家庭亲子,1,7,0,1|2,0
55855,55855,59,14,1000,福建,家庭亲子,1,7,0,1|2,0

In [38]:
tb_site_extra = pd.read_csv('../dataset/tb_site_extra.csv')

In [39]:
tb_site_extra

       id  site_idx  price  positive_comment_count  negative_comment_count
0       1         1      0                  115456                    2063
1       2         2     35                   39623                    1154
2       3         3      0                  128468                     668
3       4         4    120                   83931                    3747
4       5         5    535                   37770                    1046
..    ...       ...    ...                     ...                     ...
995   996       996     50                     749                      67
996   997       997    158                    3482                      85
997   998       998      0                     478                      46
998   999       999    380                     938                      28
999  1000      1000      0                     514                      71

[1000 rows x 5 columns]

In [43]:
tb_site_extra.iloc[132]

id                        133
site_idx                  133
price                       0
positive_comment_count      0
negative_comment_count      0
Name: 132, dtype: int64

In [44]:
mean_rate = site_features["positive_comment_rate"].mean()
mean_rate

np.float64(0.9508691032151143)

In [45]:
site_features["positive_comment_rate"] = site_features["positive_comment_rate"].fillna(mean_rate)

In [46]:
site_features

,site_idx,score,hot_degree,address,introduce_embed,price,positive_comment_rate
0,1,0.96,1.00,29,"[-0.037725143134593964, -0.12439101189374924, ...",0.000000,0.982445
1,2,0.94,1.00,29,"[-0.038046449422836304, -0.18526966869831085, ...",0.039503,0.971700
2,3,0.96,1.00,31,"[0.03834586590528488, -0.056213535368442535, 0...",0.000000,0.994827
3,4,0.94,1.00,20,"[0.009396699257194996, -0.23967264592647552, 0...",0.135440,0.957264
4,5,0.94,1.00,33,"[-0.046439655125141144, -0.17700868844985962, ...",0.603837,0.973052
...,...,...,...,...,...,...,...
995,996,0.86,0.68,7,"[-0.09245417267084122, -0.0648542121052742, 0....",0.056433,0.917892
996,997,0.92,0.68,6,"[0.023274630308151245, -0.08117324113845825, 0...",0.178330,0.976170
997,998,0.88,0.68,2,"[-0.045759472995996475, -0.16594219207763672, ...",0.000000,0.912214
998,999,0.92,0.68,6,"[0.06767657399177551, -0.07898690551519394, 0....",0.428894,0.971014
999,1000,0.84,0.68,9,"[-0.08188911527395248, -0.0823860764503479, 0....",0.000000,0.878632

In [50]:
positive_comment_rate = site_features["positive_comment_rate"]
positive_comment_rate[positive_comment_rate.isna()].index

Index([], dtype='int64')

In [48]:
site_features.to_pickle('../dataset/site_features.pkl')

In [49]:
site_features = pd.read_pickle('../dataset/site_features.pkl')