# 评论数据分析

In [1]:
import pandas as pd
import numpy as np

In [2]:
positive_comment_infos = pd.read_csv('../dataset/tb_positive_comment_extra2.csv')

In [3]:
positive_comment_infos.head()

,id,site_idx,content,tourist_type,ip
0,1,1,我会再推荐大家去故宫博物院的，因为我因为武英殿的瓷器展时间过于长了，没赶上故宫的下午茶，下次...,朋友出游,上海
1,2,1,陶瓷馆\n一上来就选择游中轴线的游客永远不会到达的一个地方，位于故宫午门进入后西侧的武英殿。...,朋友出游,辽宁
2,3,1,故宫，一眼千年的历史回响\n\n踏入故宫的那一刻，时间仿若倒流，历史的厚重感扑面而来。这座屹...,家庭亲子,江苏
3,4,1,踏入北京故宫，仿若步入历史长河、巍峨宫殿气势恢宏，一砖一瓦皆是岁月沉淀。中轴线上，太和殿庄严...,情侣夫妻,新疆
4,5,1,故宫博物院作为古代皇宫在世界上是独一无二的。它不同于法爱丽舍宫及俄克林姆林宫，它是以木构为主...,家庭亲子,北京

In [6]:
ip_columns = positive_comment_infos['ip']
ip_columns.head()

0    上海
1    辽宁
2    江苏
3    新疆
4    北京
Name: ip, dtype: object

In [8]:
ip_counts = ip_columns.value_counts().sort_index()
ip_counts, len(ip_counts)

(ip
 上海       4704
 中国台湾       82
 中国澳门      144
 中国香港      224
 云南       2358
 俄罗斯        24
 内蒙古       892
 加拿大        18
 北京       3858
 吉林        518
 哈萨克斯坦       4
 四川       2856
 土耳其         2
 天津        936
 宁夏        440
 安徽       1108
 山东       2766
 山西       1534
 广东       4320
 广西       1658
 新加坡        44
 新疆        914
 新西兰         4
 日本         20
 未知        794
 柬埔寨         2
 比利时         2
 江苏       4274
 江西        902
 河北       1780
 河南       2820
 波兰          6
 泰国          6
 浙江       2402
 海南       1480
 湖北       1406
 湖南       1540
 澳大利亚       16
 瑞士          6
 甘肃        516
 白俄罗斯        4
 福建       1988
 美国         40
 老挝          4
 英国          6
 菲律宾         4
 葡萄牙         2
 西班牙         6
 西藏        172
 贵州       1090
 越南          4
 辽宁       1230
 重庆       1140
 陕西       2134
 青海        266
 韩国          4
 马来西亚        6
 黑龙江      1314
 Name: count, dtype: int64,
 58)

In [9]:
tourist_type_columns = positive_comment_infos['tourist_type']
tourist_type_columns.head()

0    朋友出游
1    朋友出游
2    家庭亲子
3    情侣夫妻
4    家庭亲子
Name: tourist_type, dtype: object

In [13]:
tourist_type_counts = tourist_type_columns.value_counts().sort_index()
tourist_type_counts, len(tourist_type_counts)

(tourist_type
 其他出游     1308
 单独旅行     4772
 商务出差       18
 家庭亲子    16182
 情侣夫妻     7140
 朋友出游    10630
 陪同父母     2254
 Name: count, dtype: int64,
 7)

In [20]:
len(tourist_type_columns[tourist_type_columns.isna()].index)

52856

In [21]:
content_columns = positive_comment_infos['content']
content_columns.head()

0    我会再推荐大家去故宫博物院的，因为我因为武英殿的瓷器展时间过于长了，没赶上故宫的下午茶，下次...
1    陶瓷馆\n一上来就选择游中轴线的游客永远不会到达的一个地方，位于故宫午门进入后西侧的武英殿。...
2    故宫，一眼千年的历史回响\n\n踏入故宫的那一刻，时间仿若倒流，历史的厚重感扑面而来。这座屹...
3    踏入北京故宫，仿若步入历史长河、巍峨宫殿气势恢宏，一砖一瓦皆是岁月沉淀。中轴线上，太和殿庄严...
4    故宫博物院作为古代皇宫在世界上是独一无二的。它不同于法爱丽舍宫及俄克林姆林宫，它是以木构为主...
Name: content, dtype: object

In [23]:
content_len_columns = content_columns.map(lambda x: len(x) if isinstance(x, str) else 0)
content_len_columns.head()

0    394
1    338
2    829
3    358
4     89
Name: content, dtype: int64

In [24]:
content_len_columns.describe()

count    95160.000000
mean       198.733880
std        192.269786
min          4.000000
25%         87.000000
50%        128.000000
75%        230.000000
max       1582.000000
Name: content, dtype: float64

In [25]:
negative_comment_infos = pd.read_csv('../dataset/tb_negative_comment_extra.csv')
negative_comment_infos.head()

,id,site_idx,content,tourist_type,ip
0,1,1,"根据票据,我们没有去博物馆,博物馆说钱还回去",家庭亲子,未知
1,2,1,"当我的身份证被拒绝时,在入口门口有头发提升的经验。博物馆工作人员说我的票被退款了。此外,包括...",家庭亲子,未知
2,3,1,头一天打电话说铛铛车没组成团，说后面联系退钱，早上自己去国博无导游无接送，下午有导游说一点午...,情侣夫妻,北京
3,4,1,"这是我第一次去中国的地方,禁城根本没有印象,一切都一样,几分钟后,兴趣完全消失了",单独旅行,未知
4,5,1,不愿置评！,朋友出游,未知

In [26]:
negative_content_columns = negative_comment_infos['content']
negative_content_columns.head()

0                               根据票据,我们没有去博物馆,博物馆说钱还回去
1    当我的身份证被拒绝时,在入口门口有头发提升的经验。博物馆工作人员说我的票被退款了。此外,包括...
2    头一天打电话说铛铛车没组成团，说后面联系退钱，早上自己去国博无导游无接送，下午有导游说一点午...
3             这是我第一次去中国的地方,禁城根本没有印象,一切都一样,几分钟后,兴趣完全消失了
4                                                不愿置评！
Name: content, dtype: object

In [27]:
negative_content_len_columns = negative_content_columns.map(lambda x: len(x) if isinstance(x, str) else 0)
negative_content_len_columns.head()

0     22
1    136
2     85
3     40
4      5
Name: content, dtype: int64

In [30]:
negative_content_len_columns.describe()

count    40932.000000
mean        62.158995
std         81.640219
min          2.000000
25%         16.000000
50%         35.000000
75%         76.000000
max       1012.000000
Name: content, dtype: float64